@default_height: 595px;
@img_height: 340px;
@img_width: 590px;
@top_padding: ((@default_height - @img_height) / 2);

#toplevel
{
	width: 100%;
	height: @default_height;
	display: inline-block;

	#spawner
	{
		width: 25%;
		height: @default_height;
		float: left;
	}

	#arena
	{
		width: @img_width;
		height: @img_height;
		float: left;
		background-color: red;
		background-image: url('./img/arena3.png');
		background-size: contain;
		margin-right: 10px;
		margin-top: @top_padding;
	}

	#shop
	{
		width: 25%;
		height: @default_height;
		float: left;
	}
}