@default_height: 595px;
@default_width: 1180px;
@cover_doors: 20px;
@img_height: 590px;
@img_width: 590px;
@top_padding: ((@default_height - @img_height) / 2);

#toplevel
{
	width: @default_width !important;
	height: @default_height;
	display: inline-block;
	text-align: center;
	
	#monsters 
	{
	  width: 590px;
	  height: 560px;
	  float: left;
	  margin: 0 auto;
	  padding: 0 0 0 0;
	  display: inline-block;
	  background-image: url("img/arena3.png");
	  background-size: 100% 100%;
	}
	
	#spawner
	{
		width: 295px;
		height: @default_height;
		float: left;
		padding: 0 0 0 0;
		margin: 0 auto;
		display: inline-block;
	}

	#arena
	{
	  width: 590px;
	  height: 590px;
	  float: left;
	  margin: 0 auto;
	  margin-top: 2.5px;
	  padding: 0 0 0 0;
		
	  	#level
	  	{
	  		float: left;
	  		padding-left: 150px;
	  		padding-bottom: 0;
	  	}
		#health
		{
			
			-webkit-apperance: none;
			padding-left: 25px;
			padding-bottom: 0px;
			
			&::-webkit-meter-optimum-value
			{
			  background: blue;
			}

		}
	}

	#shop
	{
		width: 295px;
		height: @default_height;
		float: left;
		padding: 0 0 0 0;
		margin: 0 auto;
		display: inline-block;
	}
	
	.splash{
	   position: absolute;
	   width: 1180px;
	   height: @default_height + @cover_doors;
	   background-image: url("img/splashscreen.png");
	   background-repeat: no-repeat;
	   background-size: 100% 100%;
	   border: 5px double #000;
	   display: none;
	}

	.help_arena{
	   position: absolute;
	   width: 1180px;
	   height: @default_height + @cover_doors;
	   background-image: url("img/help_screen/help_arena.png");
	   background-repeat: no-repeat;
	   background-size: 100% 100%;
	   border: 5px double #000;
	   display: none;
	}
	
	.help_stats{
	   position: absolute;
	   width: 1180px;
	   height: @default_height + @cover_doors;
	   background-image: url("img/help_screen/help_stats.png");
	   background-repeat: no-repeat;
	   background-size: 100% 100%;
	   border: 5px double #000;
	   display: none;
	}
	
	.help_shop{
	   position: absolute;
	   width: 1180px;
	   height: @default_height + @cover_doors;
	   background-image: url("img/help_screen/help_shop.png");
	   background-repeat: no-repeat;
	   background-size: 100% 100%;
	   border: 5px double #000;
	   display: none;
	}
	
	#game_over
	{
		position: absolute;
		width: 1180px;
		height: @default_height + @cover_doors; 
		border: 5px double #000;
		background-color: white;
		display: none;
		text-align: center;

		h1
		{
			font-size: 76px;
		}

		p
		{
			font-size: 16px;
		}

		a
		{
			text-decoration: none;

			&:hover
			{
				text-decoration: underline;
			}
		}
	}

	#credits
	{
		position: absolute;
		width: 1180px;
		height: @default_height + @cover_doors;
		background-color: white;
		border: 5px double #000;
		display: none;

		#c_box
		{
			border-bottom: 1px double black;
		}

		h1
		{
			font-size: 76px;
		}

		#cont_list li
		{
			font-size: 18px;
			text-align: left;
		}
		
		.left_align{
			text-align: left;
		}
	}
}

.menu
{
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
