
			html, body{
			  height: 100vh;
			  margin: 0;
			  overflow: auto;
			}
			body {
			  padding-top:50px;
			  background-color: #fff;
			  font-family: sans-serif;
			  overflow: hidden;
			  padding-bottom: 60px;
			}
			h1 {
			  font-weight: normal;
			  font-size: 140%;
			}
			.flex {
				display: flex;
				/*flex: auto;*/
			}
			.absolute{
				display: absolute;
			}
			#left-side-screen{
				height: 50vh;
				width: 20vw;
				margin-left: 5px;
				padding-top: 6px;
			}
			#right-side-screen{
				height: 50vh;
				width: 20vw;
				padding-top: 6px;
			}
			#svgArea{
				/*position: absolute;*/
				height: 50vh;
				width: 39vw;
				margin-left: 5px;
				background-image: url("img/arena3.png");
				background-size: 100% 100%;
				align-self: flex-start;
			}
			#stage {
				/*float: left;
				width: 40vh;
				height: 95vh;
				margin-left: -200px;*/
				flex-flow: column;
				width: 40vw;
				height: 95vh;
				padding-top: 6px;
			}
			