#toplevel {
  width: 100%;
  height: 595px;
  display: inline-block;
  text-align: center;
}
#toplevel .splash {
  position: absolute;
  width: 1180px;
  height: 595px;
  background-image: url("img/splash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px double #000;
  display: none;
}
#toplevel #spawner {
  width: 295px;
  height: 595px;
  float: left;
  padding: 0 0 0 0;
  margin: 0 auto;
  display: inline-block;
}
#toplevel #arena {
  width: 590px;
  height: 340px;
  float: left;
  margin: 0 auto;
  margin-top: 127.5px;
  padding: 0 0 0 0;
  display: inline-block;
}
#toplevel #arena #health {
  -webkit-apperance: none;
  apperance: none;
  background: red;
}
#toplevel #arena #health::-webkit-progress-value {
  background: red;
}
#toplevel #shop {
  width: 295px;
  height: 595px;
  float: left;
  padding: 0 0 0 0;
  margin: 0 auto;
  display: inline-block;
}
progress.health::-webkit-progress-value {
  background: red;
}
